<%= render "shared/nav" %>

<div class="container">
  <section class="section is-medium">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1>Sign up</h1>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <label class="label">First Name</label>
              <div class="control has-icons-left">
                <%= f.text_field :first_name, autofocus: true, class: "input" %>
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </div>
            </div>

            <div class="field">
              <label class="label">Last Name</label>
              <div class="control has-icons-left">
                <%= f.text_field :last_name, autofocus: true, class: "input" %>
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </div>
            </div>


            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
              </div>
            </div>


            <div class="field">
              <label class="label">Password</label>
              <% if @minimum_password_length %>
                <em>(Your password must include at least one uppercase letter and <%= @minimum_password_length %> characters minimum )</em>
              <% end %><br/>
              <div class="control has-icons-left">
                <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
            </div>

            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control has-icons-left">
                <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
            </div>
            </br>

            <div class="actions">
              <%= f.submit "Sign up", class: "button is-primary" %>
            </div>
            </br>
          <% end %>

          <p>Already have an account? <%= link_to "Log in", new_user_session_path %></p>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render "shared/footer" %>