<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <% if current_user %>
      <%= form.hidden_field :commenter, value: "#{current_user.first_name} #{current_user.last_name}" %>
      <strong>Comment as <%= "#{current_user.first_name} #{current_user.last_name}" %></strong>
    <% else %>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    <% end %>
  </p>
  <p>
    <%= form.rich_text_area :body %>
  </p></br>
  <p>
    <%= form.submit class: "button is-success" %>
  </p>
<% end %>


