<div class="container.is-max-widescreen">


  <section class="section is-medium">



<%= form_with model: article do |form| %>
  <div class="card">
    <div class="field">
      <label class="label">Title</label>
      <div class="control has-icons-left">
    <%= form.text_field :title, class:"input" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
        <span class="icon is-small is-left">
        <i class="fas fa-heading"></i>
      </span>
      </div>
<br>

    <div class="field">
      <label class="label">Body</label>
      <div class="control has-icons-left">
    <%= form.text_area :body, class: "textarea" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

      <div class="field">
        <%= form.submit "Post", class: "button is-primary" %>
      </div>
    </div>
<% end %>
</div>
</div>
</section>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p> Made with 💖 by <strong>Nicole Brito</strong>, with Rails and Bulma
    </p>
    <p>
      <a href="https://www.linkedin.com/in/nicole-brito/" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a> <br>
      <a href="https://github.com/nicole-brito" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://twitter.com/nicole_brito" target="_blank">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </p>
  </div>
</footer>
</div>