<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      Home
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if current_user %>
            <%= button_to "Log out", logout_path, method: "delete", class: 'button is-primary' %>
          <% else %>
            <%= link_to "Login", 'login', class: 'button is-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>



<%= link_to "New Article", new_article_path %>

<h1>Articles</h1>

<h2>Our blog has <%= Article.count %> articles and counting!</h2>


<% @articles.each do |article| %>
  <ul class="card">
    <li>
      <%= link_to article.title, article %>
      <p><%= article.body.split("\n").first %></p>
      <p><%= article.user.first_name %> <%= article.user.last_name %></p>
      <p><%= article.created_at.strftime("%B %d, %Y") %></p>
    </li>
  </ul>

<% end %>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>