<nav class="navbar	" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      Home
    </a>
  </div>

  <div class="navbar-menu" style="display: flex; justify-content: center; flex-grow: 1;">
    <% if current_user %>
      <p class="navbar-item as-text-primary-dark subtitle">Hello, <%= current_user.first_name %>!</p>
    <% else %>
      <p class="navbar-item subtitle is-5">Hello!</p>
    <% end %>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if current_user %>
          <%= button_to "Log out", logout_path, method: "delete", class: 'button is-primary' %>
        <% else %>
          <%= link_to "Login", 'login', class: 'button is-primary' %>
          <%= link_to "Sign up", 'signup', class: 'button is-secundary' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<div class="is-flex">
  <button class="card js-modal-trigger" data-target="modal-js-example">
    <div class="card-content has-text-centered">
    <span class="icon is-large">
      <i class="fas fa-plus fa-3x"></i>
    </span>
      <p class="title is-4">Create new post</p>
    </div>
  </button>
</div>

<%= link_to "New Article", new_article_path %>

<h1>Articles</h1>

<h2>Our blog has <%= Article.count %> articles and counting!</h2>


<% @articles.each do |article| %>
  <ul class="card">
    <li>
      <%= link_to article.title, article %>
      <p><%= article.body.split("\n").first %></p>
      <p><%= article.user.first_name %></p>
      <p><%= article.user.last_name %></p>
      <p><%= article.created_at.strftime("%B %d, %Y") %></p>
    </li>
  </ul>
<% end %>

<%== pagy_nav(@pagy, ) %>

<div id="flash-notification"></div>
<%= turbo_frame_tag "classic_view_table" do %>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <% @pagy.series.each do |item| %>
        <% if item.is_a?(Integer) %>
          <li class="pagination-link">
            <%= link_to item, page: item, class: "pagination-link #{'is-current' if item == @pagy.page}" %>
          </li>
        <% elsif item.is_a?(String) %>
          <li class="pagination-ellipsis">
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>

<% end %>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add new post</p>
      </header>
      <section class="modal-card-body">
        <%= form_with model: @article do |form| %>
          <div class="field">
            <label class="label">Title</label>
            <div class="control has-icons-left">
              <%= form.text_field :title, class: "input" %>

              <span class="icon is-small is-left">
                    <i class="fas fa-heading"></i>
                  </span>
            </div>
            <br>
            <div class="field">
              <label class="label">Body</label>
              <div class="control has-icons-left">
                <%= form.text_area :body, class: "textarea" %><br>

              </div>
              <div class="field">
              </div>
            </div>
          </div>

          </section>
          <footer class="modal-card-foot">
            <div class="buttons">
              <%= form.submit "Post", class: "button is-primary" %>
              <button class="is-text button">Cancel</button>
            </div>
          </footer>
        <% end %>
        </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

